{% comment %} Generated Section — 1 block(s) {% endcomment %}

<div class="page-sections">

  {%- comment -%} Pricing Block — ID: 2 {%- endcomment -%}
<section class="section-pricing">
  <div class="pricing-heading">{{ section.settings['pricing_2_heading'] }}</div>
  <div class="pricing-subtext">{{ section.settings['pricing_2_subtext'] }}</div>
  <div class="pricing-bodytext">{{ section.settings['pricing_2_bodytext'] }}</div>
  <div class="pricing-rows">{{ section.settings['pricing_2_rows'] }}</div>
</section>

</div>

{% schema %}
{
  "name": "Custom Section",
  "settings": []
}
{% endschema %}