.password-modal {
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: var(--z-modals);
}

.password-modal__dialog {
  background-color: rgb(var(--color-background));
  padding: var(--page-gutter);
  border-radius: var(--card-corner-radius);
}

.password-modal[open] {
  display: flex;
}

.password-modal__close {
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  z-index: 1;
  cursor: pointer;
}

.password-modal__content {
  min-width: 60rem;
  max-width: 60rem;
  margin: 0 auto;
}

.password-modal__content .container {
  position: relative;
}

.password-modal__title {
  margin-block: calc(var(--section-spacing-unit-size) * 1);
}


@media screen and (max-width: 749px) {
  .password-modal__content {
    min-width: 32rem;
  }

  .password-modal__close {
    inset-block-start: -1rem;
    inset-inline-end: 0rem;
  }
}
