.blog {
  background-color: rgb(var(--color-background));
}

.blog__head {
  display: flex;
  justify-content: center;
  padding: 0 var(--page-gutter);
  margin-block-end: 3rem;
}

.blog__filters {
  max-width: 100%;
}

.blog__filters a,
.blog__filters span {
  display: block;
  padding: 0.6rem 1.4rem;
  border: 1px solid rgb(var(--color-foreground));
  border-radius: 0;
  line-height: 1.4;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  transition: background-color 0.2s, color 0.2s;
}

.blog__filters-item:not(.is-active) {
  color: rgb(var(--color-foreground));
}
.blog__filters-item:not(.is-active):hover a {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.blog__filters-item.is-active a,
.blog__filters-item.is-active span {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.blog__filters-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}

.blog__articles-grid {
  display: grid;
  overflow-wrap: anywhere;
  gap: calc(var(--grid-spacing) * 3);
}

.blog__card-article .card-article__content {
  padding-block-start: 2.4rem;
}

.blog__actions {
  margin-block-start: 4rem;
}

.blog__card-text {
  margin-block-end: calc(0rem - var(--grid-spacing));
}

@media (hover: hover) {
  .blog__filters-item:not(.is-active) a:hover {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
  }
}

/* @media screen and (max-width: 749px) {
  .template--blog .section-full-width-banner {
    aspect-ratio: 1 / 1;
  }
} */

@media screen and (min-width: 575px) {
  .blog__articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__card-text {
    margin-block-end: 0;
  }
}

@media screen and (min-width: 750px) {
  .blog__head {
    margin-block-end: 4rem;
  }
  .blog__filters a,
  .blog__filters span {
    font-size: 1.4rem;
    padding: 0.6rem 1.6rem;
  }
  .blog__articles-grid {
    margin: 0;
    gap: var(--grid-spacing);
  }
}

@media screen and (min-width: 990px) {
  .blog__articles-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog__filters-items {
    justify-content: center;
  }
}
