.section-image-text {
  padding: calc(var(--section-spacing-unit-size) * 1) 0;
  background-color: rgb(var(--color-background));
  /* margin: 0 calc(0rem - var(--page-gutter)); */
  margin: 0;
}

.section-image-text__inner {
  display: flex;
  flex-direction: column;
}

.section-image-text__head {
  order: -1;
  /* margin: 0 calc(0rem - var(--page-gutter)) 4rem; */
}

.section-image-text__body {
  padding-inline: var(--page-gutter);
}

.section-image-text__body:not(.text-start) .section-image-text__entry ul {
  padding-inline-start: 0;
}

.section-image-text__media {
  padding-block-end: 122%;
  background-color: rgba(var(--color-border), var(--alpha-border));
  margin: 0 calc(0rem - var(--page-gutter));
}

.section-image-text__content {
  margin: 3.2rem auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .section-image-text__content {
    max-width: 52rem;
    margin: 0 auto;
  }
}


.section-image-text__title {
  margin: 0 auto 1.6rem;
}

.section-image-text__entry {
  color: rgb(var(--color-foreground));
  text-transform: capitalize;
  margin: 0 auto 3rem;
}

.section-image-text__entry:last-child {
  margin-block-end: 0;
}

.section-image-text__entry p {
  margin: 0 0 1rem;
}

.section-image-text__entry p:last-child {
  margin-block-end: 0;
}

.section-image-text__body.text-start .section-image-text__title,
.section-image-text__body.text-start .section-image-text__entry {
  margin-inline-start: 0;
}

@media screen and (min-width: 750px) {
  .section-image-text__inner {
    align-items: center;
    flex-direction: row;
  }

  .section-image-text__inner > :first-child {
    margin-inline-end: 2rem;
  }

  .section-image-text__head {
    flex: 1;
    margin: 0;
    max-width: 65.6rem;
    order: 0;
  }

  .section-image-text__body {
    flex: 1;
  }

  .section-image-text__body.text-start .section-image-text__title,
  .section-image-text__body.text-start .section-image-text__entry {
    margin-inline-start: 0;
  }

  .section-image-text__body.text-center .section-image-text__title,
  .section-image-text__body.text-center .section-image-text__entry {
    margin-inline-start: auto;
  }

  .section-image-text__body:not(.text-start) .section-image-text__entry ul {
    padding-inline-start: 1.8rem;
  }

  .section-image-text__body:not(.text-start) .section-image-text__entry ul {
    padding-inline-start: 0;
  }

  .section-image-text__content {
    max-width: 52rem;
  }

  .section-image-text__title,
  .section-image-text__entry {
    max-width: 42.5rem;
  }
}

@media screen and (min-width: 990px) {
  .section-image-text__inner > :first-child {
    margin-inline-end: 1rem;
  }

  .section-image-text__content {
    box-sizing: content-box;
    padding-inline-start: 2.4rem;
  }

  .section-image-text__body:first-child .section-image-text__content {
    padding-inline-start: 0;
    padding-inline-end: 2.4rem;
  }

  .section-image-text__entry {
    margin-block-end: 3.2rem;
  }

  .section-image-text__body.text-center .section-image-text__actions--separator::before {
    content: '';
    display: block;
    width: .1rem;
    height: 7rem;
    margin: 0 auto 3.2rem;
    background-color: var(--color-heading-text);
    opacity: 0.2;
  }
}

@media screen and (min-width: 1100px) {
  .section-image-text__content {
    padding-inline-start: 4.8rem;
  }

  .section-image-text__body:first-child .section-image-text__content {
    padding-inline-end: 4.8rem;
  }
}
